/* Background */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    color: #333;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 15px 30px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

/* Transisi */
nav ul li a:hover {
    color: yellow;
}

/* Hero */
.hero {
    text-align: center;
    margin-top: 100px;
    animation: fadeIn 2s ease;
}
.profile-img {
    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.hero h1 {
    font-size: 50px;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #222;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}

/* Animasi tombol */
.hero button:hover {
    transform: scale(1.1);
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
}

button {
    padding: 10px;
    background: #222;
    color: white;
    border: none;
}

/* Keyframe Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}